body {
    display: flex;
    flex-direction: column;
}


.headerContainer, .mainContainer {
    display: flex;
    padding: 2rem 20vw;

}

.mainContainer {
    flex-direction: column;
}


.battleButtons {
    width: 5vw;
    height: 5vh;
}

.battleButtonsContainer {
    display: flex;
    justify-content: space-between;
}