body {
    display: flex;
    flex-direction: column;
}


.headerContainer, .mainContainer {
    display: flex;
    padding: 2rem 20vw;

}

.mainContainer {
    flex-direction: column;
}


.battleButtons {
    width: 50px;
}

.battleButtonsContainer {
    display: flex;
}