body {
    display: flex;
    flex-direction: column;
}


.headerContainer, .mainContainer {
    display: flex;
    padding: 2rem 20vw;
    background-color: #1F2937;
    color: white;
    align-items: center;

}

.mainContainer {
    flex-direction: column;
    height: 80vh;
}


.battleButtons {
    width: 5vw;
    height: 5vh;
}

.battleButtonsContainer {
    display: flex;
    justify-content: space-between;
}

#resultsMessage {
    font-size: 5rem;

}

#scoreMessage {
    font-size: 20rem;
    font-weight: bold;
}

#nextButton {
    width: 10vw;
    height: 2.5vh;
}